@use 'reset';
@use 'fonts';
@use 'global';
@use 'vars';

body {
  @extend %opensans-400;
  font-size: 20px;
  color: vars.$color-accent;
  line-height: 1.3;
  color: vars.$color-accent;
}

.title {
  text-transform: uppercase;
  @extend %lora-400;
  margin-bottom: 50px;
  font-size: 45px;
}

.btn {
  display: inline-block;
  font-size: 16px;
  color: vars.$color-text-muted;
  padding: 10px 65px;
  border: 1px solid vars.$color-text-muted;
}

.promo {
  background-color: vars.$bg-primary;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  color: vars.$color-primary;
  padding: 7px 0 9px;
}

.header {
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px 0 40px;
  color: vars.$color-primary;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  &__lang {
    display: flex;

    &--active {
      @extend %opensans-700;
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.logo {
  display: inline-block;
}

.menu {
  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    font-size: 16px;
  }
}

.footer {
  font-size: 16px;
  color: vars.$color-text-muted;

  &__menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px 0 44px;
    margin-bottom: 50px;
    border-bottom: 1px solid vars.$bg-primary;
  }

  &__menu-link {
    border-bottom: 1px solid vars.$bg-primary;
  }

  &__elements {
    display: flex;
    justify-content: space-between;
    gap: 83px;
    margin-bottom: 45px;
  }

  &__elements-title {
    opacity: 0.5;
    margin-bottom: 20px;
  }

  &__elements-list {
    margin-bottom: 5px;
  }

  &__adress {
    font-style: normal;
  }

  &__social-list {
    display: flex;
    gap: 10px;
  }

  &__form {
    width: 250px;
    position: relative;
  }

  &__form-input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid vars.$bg-primary;
    color: vars.$color-text-muted;
    padding: 1px 0 5px;

    &::placeholder {
      color: vars.$color-text-muted;
    }
  }

  &__form-btn {
    position: absolute;
    padding: 20px 0 10px 30px;
    right: 0;
    bottom: 0;
  }

  &__bottom {
    background-color: vars.$bg-primary;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    padding: 7px 27px 9px;
    font-size: 11px;
    color: vars.$color-primary;
  }

  &__bottom-list {
    display: flex;
    gap: 15px;
  }

  &__bottom-item {
    padding-left: 15px;
  }

  &__bottom-item + &__bottom-item {
    border-left: 1px solid vars.$color-primary;
  }
}

.top {
  min-height: calc(100vh - 155px);
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__content {
    padding: 115px 0 50px;
    max-width: 446px;
    margin-right: 134px;
  }

  &__title {
    @extend %lora-400;
    font-size: 80px;
    line-height: 1.2;
    margin-bottom: 60px;
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    @extend %opensans-400;
    background-color: vars.$color-accent;
    padding: 12px 38px;
    border-radius: 3px;
  }
}

.new-collection {
  background-image: url(../images/new-collection-decor.svg);
  background-repeat: no-repeat;
  background-position: 234px -167px;

  &__inner {
    display: flex;
    padding: 150px 0;
  }

  &__content {
    padding: 75px 40px 0 40px;
    max-width: 491px;
    display: flex;
    flex-direction: column;
  }

  &__descr {
    color: vars.$color-text-muted;
  }

  &__text + &__text {
    margin-top: 20px;
  }

  &__link {
    margin-top: auto;
    align-self: flex-start;
  }

  &__img {
    margin-top: 75px;
  }

  &__box {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
  }

  &__box-img {
    position: absolute;
    top: 0;
    left: -75px;
    max-width: fit-content;
  }

  &__caption {
    max-width: 293px;
    margin-top: auto;
    margin-bottom: 40px;
    color: vars.$color-text-muted;
  }
}

.join-us {
  background-color: vars.$bg-primary;

  &__inner {
    display: flex;
    gap: 40px;
    padding: 0 40px;
  }

  &__img {
    max-width: 540px;
    width: 100%;
  }

  &__box {
    padding: 40px 0 40px;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text {
    @extend %lora-400;
    font-size: 30px;
    margin-bottom: 40px;
    color: vars.$color-primary;
  }

  &__input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid vars.$color-text-muted;
    padding: 10px 0;
    color: vars.$color-text-muted;
    background-color: transparent;
  }

  &__btn {
    margin-top: 30px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 13px 229px;
    background-color: vars.$color-accent;
    color: #ffffff;
    border-radius: 3px;
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
  }

  &__form-caption {
    font-size: 11px;
    color: vars.$color-primary;
  }
}

.designer {
  padding: 150px 0 230px;
  position: relative;

  &__decor {
    position: absolute;
    top: -225px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }

  &__inner {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 404px;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__text {
    font-size: 16px;
    color: vars.$color-text-muted;
  }

  &__box {
    position: relative;
    text-align: center;
  }

  &__img {
    margin-bottom: 40px;
  }
  &__caption {
    font-size: 20;
    @extend %lora-400;
    color: vars.$color-primary;
    padding: 20px 18px;
    border: 3px solid vars.$bg-primary;
    max-width: 302px;
    position: absolute;
    top: 178px;
    top: 178px;
    left: -50%;
    transform: translateX(33%);
    background-color: white;
  }

  &__link {
    display: inline-block;
    padding: 10px 93px;
  }
}

.our-advantages {
  background-color: vars.$bg-primary;

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 40px;
  }

  &__decor {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__inner {
    padding: 64px 130px 34px 0;
    margin-left: auto;
  }

  &__list {
    column-count: 2;
    column-gap: 80px;
  }

  &__item {
    padding-left: 50px;
    margin-bottom: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 22px;
      left: 0;
      background-image: url(../images/list-decor.svg);
    }
  }
}

.our-blog {
  padding: 150px 0 100px;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 280px 330px;
    grid-template-rows: 1fr 1fr;
    gap: 19px;
    padding: 0 40px;
    background-image: url(../images/our-blog-decor.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  &__text {
    font-size: 16px;
    color: vars.$color-text-muted;
    margin-bottom: 50px;
    max-width: 403px;
  }

  &__box-right {
    grid-row: span 2;
    align-self: center;
    margin-top: -90px;
  }

  &__box-img {
    margin-bottom: 20px;
  }

  &__box-link {
    @extend %lora-400;
    font-size: 20px;
    color: vars.$color-text-muted;
  }

  &__box-date {
    padding-top: 5px;
    @extend %opensans-300;
    font-size: 16px;
    color: vars.$color-primary;
  }

  &__box-bottom {
    grid-column: span 2;
    margin-left: auto;
  }
}

.appointment {
  padding: 50px 0 128px;
  background-image: url(../images/appointment-decor.svg);
  background-repeat: no-repeat;
  background-position: center 105px;

  &__inner {
    padding: 0 40px;
  }

  &__title {
    font-size: 45px;
    margin-bottom: 77px;
    text-align: center;
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-title {
    @extend %lora-400;
    font-size: 30px;
    margin-bottom: 80px;
  }

  &__form-text {
    @extend %opensans-700;
    font-size: 20px;
    color: vars.$color-text-muted;
    margin-bottom: 30px;
  }

  &__input {
    color: vars.$color-text-muted;
    border: none;
    border-bottom: 1px solid vars.$color-text-muted;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: transparent;
    &::placeholder {
      color: vars.$color-text-muted;
    }
  }

  &__btn {
    text-transform: uppercase;
    padding: 13px 244px;
    margin-top: auto;
    background-color: vars.$color-accent;
    border-radius: 3px;
    color: #ffffff;
  }
}

.collections__top {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.collection-main {
  .breadcrumbs {
    padding-top: 50px;
  }
}

.breadcrumbs {
  padding: 30px 0 80px;

  &__list {
    display: flex;
    gap: 14px;
    color: vars.$color-text-muted;
    font-size: 16px;
  }

  &__item {
    position: relative;
  }

  &__item + .breadcrumbs__item::before {
    content: '/';
    position: absolute;
    left: -9px;
  }
}

.collections {
  padding-bottom: 100px;

  &__container {
    position: relative;
  }

  &__decor {
    position: absolute;
    right: 0;
    top: -210px;
    z-index: 5;
  }

  &__title {
    text-align: center;
  }

  &__inner {
    display: grid;
    grid-template-areas:
      'aa ab ba bb'
      'cc cc ca cb'
      'cc cc da db'
      'ea eb ee ee'
      'fa fb ee ee';
    gap: 40px;
  }

  &__item {
    position: relative;
    &:nth-child(1) {
      grid-area: aa;
    }
    &:nth-child(2) {
      grid-area: ab;
    }
    &:nth-child(3) {
      grid-area: ba;
    }
    &:nth-child(4) {
      grid-area: bb;
    }
    &:nth-child(5) {
      grid-area: cc;
      height: fit-content;
    }
    &:nth-child(6) {
      grid-area: ca;
    }
    &:nth-child(7) {
      grid-area: cb;
    }
    &:nth-child(8) {
      grid-area: da;
    }
    &:nth-child(9) {
      grid-area: db;
    }
    &:nth-child(10) {
      grid-area: ea;
      margin-top: -130px;
      height: fit-content;
    }
    &:nth-child(11) {
      grid-area: eb;
      margin-top: -130px;
      height: fit-content;
    }
    &:nth-child(12) {
      grid-area: ee;
      height: fit-content;
    }
    &:nth-child(13) {
      grid-area: fa;
    }
    &:nth-child(14) {
      grid-area: fb;
    }
  }

  &__like {
    position: absolute;
    top: 10px;
    right: 6px;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    @extend %lora-400;
    font-size: 20px;
    color: #ffffff;
    padding: 12px;
    background-color: vars.$color-accent;
  }
}

.pagination {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: vars.$color-primary;
  font-size: 16px;

  &__list {
    display: flex;
    gap: 2px;
  }

  &__link {
    display: inline-block;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__link--active {
    color: #ffffff;
    border-radius: 8px;
    background-color: vars.$color-text-muted;
  }

  &__arrow {
    display: inline-block;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrow-disable {
    display: none;
  }
}
