@use 'reset';
@use 'fonts';
@use '../../node_modules/swiper/swiper-bundle.css';
@use '../../node_modules/nouislider/dist/nouislider.css';
@use 'global';
@use 'vars';

body {
  @extend %opensans-400;
  font-size: 20px;
  color: vars.$color-accent;
  line-height: 1.3;
  color: vars.$color-accent;
}

.title {
  text-transform: uppercase;
  @extend %lora-400;
  margin-bottom: 50px;
  font-size: 45px;
}

.btn {
  display: inline-block;
  font-size: 16px;
  color: vars.$color-text-muted;
  padding: 10px 65px;
  border: 1px solid vars.$color-text-muted;
}

.promo {
  background-color: vars.$bg-primary;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  color: vars.$color-primary;
  padding: 7px 0 9px;
}

.header {
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px 0 40px;
  color: vars.$color-primary;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  &__lang {
    display: flex;

    &--active {
      @extend %opensans-700;
    }
  }

  &__actions {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.logo {
  display: inline-block;
}

.menu {
  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    font-size: 16px;
  }
}

.footer {
  font-size: 16px;
  color: vars.$color-text-muted;

  &__menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px 0 44px;
    margin-bottom: 50px;
    border-bottom: 1px solid vars.$bg-primary;
  }

  &__menu-link {
    border-bottom: 1px solid vars.$bg-primary;
  }

  &__elements {
    display: flex;
    justify-content: space-between;
    gap: 83px;
    margin-bottom: 45px;
  }

  &__elements-title {
    opacity: 0.5;
    margin-bottom: 20px;
  }

  &__elements-list {
    margin-bottom: 5px;
  }

  &__adress {
    font-style: normal;
  }

  &__social-list {
    display: flex;
    gap: 10px;
  }

  &__form {
    width: 250px;
    position: relative;
  }

  &__form-input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid vars.$bg-primary;
    color: vars.$color-text-muted;
    padding: 1px 0 5px;

    &::placeholder {
      color: vars.$color-text-muted;
    }
  }

  &__form-btn {
    position: absolute;
    padding: 20px 0 10px 30px;
    right: 0;
    bottom: 0;
  }

  &__bottom {
    background-color: vars.$bg-primary;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    padding: 7px 27px 9px;
    font-size: 11px;
    color: vars.$color-primary;
  }

  &__bottom-list {
    display: flex;
    gap: 15px;
  }

  &__bottom-item {
    padding-left: 15px;
  }

  &__bottom-item + &__bottom-item {
    border-left: 1px solid vars.$color-primary;
  }
}

.top {
  min-height: calc(100vh - 155px);
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__content {
    padding: 115px 0 50px;
    max-width: 446px;
    margin-right: 134px;
  }

  &__title {
    @extend %lora-400;
    font-size: 80px;
    line-height: 1.2;
    margin-bottom: 60px;
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    @extend %opensans-400;
    background-color: vars.$color-accent;
    padding: 12px 38px;
    border-radius: 3px;
  }
}

.new-collection {
  background-image: url(../images/new-collection-decor.svg);
  background-repeat: no-repeat;
  background-position: 234px -167px;

  &__inner {
    display: flex;
    padding: 150px 0;
  }

  &__content {
    padding: 75px 40px 0 40px;
    max-width: 491px;
    display: flex;
    flex-direction: column;
  }

  &__descr {
    color: vars.$color-text-muted;
  }

  &__text + &__text {
    margin-top: 20px;
  }

  &__link {
    margin-top: auto;
    align-self: flex-start;
  }

  &__img {
    margin-top: 75px;
  }

  &__box {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
  }

  &__box-img {
    position: absolute;
    top: 0;
    left: -75px;
    max-width: fit-content;
  }

  &__caption {
    max-width: 293px;
    margin-top: auto;
    margin-bottom: 40px;
    color: vars.$color-text-muted;
  }
}

.join-us {
  background-color: vars.$bg-primary;

  &__inner {
    display: flex;
    gap: 40px;
    padding: 0 40px;
  }

  &__img {
    max-width: 540px;
    width: 100%;
  }

  &__box {
    padding: 40px 0 40px;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text {
    @extend %lora-400;
    font-size: 30px;
    margin-bottom: 40px;
    color: vars.$color-primary;
  }

  &__input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid vars.$color-text-muted;
    padding: 10px 0;
    color: vars.$color-text-muted;
    background-color: transparent;
  }

  &__btn {
    margin-top: 30px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 13px 229px;
    background-color: vars.$color-accent;
    color: #ffffff;
    border-radius: 3px;
    margin-bottom: 20px;
    position: relative;
    z-index: 10;
  }

  &__form-caption {
    font-size: 11px;
    color: vars.$color-primary;
  }
}

.designer {
  padding: 150px 0 230px;
  position: relative;

  &__decor {
    position: absolute;
    top: -225px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
  }

  &__inner {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 404px;
  }

  &__texts {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__text {
    font-size: 16px;
    color: vars.$color-text-muted;
  }

  &__box {
    position: relative;
    text-align: center;
  }

  &__img {
    margin-bottom: 40px;
  }
  &__caption {
    font-size: 20;
    @extend %lora-400;
    color: vars.$color-primary;
    padding: 20px 18px;
    border: 3px solid vars.$bg-primary;
    max-width: 302px;
    position: absolute;
    top: 178px;
    top: 178px;
    left: -50%;
    transform: translateX(33%);
    background-color: white;
  }

  &__link {
    display: inline-block;
    padding: 10px 93px;
  }
}

.our-advantages {
  background-color: vars.$bg-primary;

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 40px;
  }

  &__decor {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__inner {
    padding: 64px 130px 34px 0;
    margin-left: auto;
  }

  &__list {
    column-count: 2;
    column-gap: 80px;
  }

  &__item {
    padding-left: 50px;
    margin-bottom: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 22px;
      left: 0;
      background-image: url(../images/list-decor.svg);
    }
  }
}

.our-blog {
  padding: 150px 0 100px;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 280px 330px;
    grid-template-rows: 1fr 1fr;
    gap: 19px;
    padding: 0 40px;
    background-image: url(../images/our-blog-decor.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
  }

  &__text {
    font-size: 16px;
    color: vars.$color-text-muted;
    margin-bottom: 50px;
    max-width: 403px;
  }

  &__box-right {
    grid-row: span 2;
    align-self: center;
    margin-top: -90px;
  }

  &__box-img {
    margin-bottom: 20px;
  }

  &__box-link {
    @extend %lora-400;
    font-size: 20px;
    color: vars.$color-text-muted;
  }

  &__box-date {
    padding-top: 5px;
    @extend %opensans-300;
    font-size: 16px;
    color: vars.$color-primary;
  }

  &__box-bottom {
    grid-column: span 2;
    margin-left: auto;
  }
}

.appointment {
  padding: 50px 0 128px;
  background-image: url(../images/appointment-decor.svg);
  background-repeat: no-repeat;
  background-position: center 105px;

  &__inner {
    padding: 0 40px;
  }

  &__title {
    font-size: 45px;
    margin-bottom: 77px;
    text-align: center;
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-title {
    @extend %lora-400;
    font-size: 30px;
    margin-bottom: 80px;
  }

  &__form-text {
    @extend %opensans-700;
    font-size: 20px;
    color: vars.$color-text-muted;
    margin-bottom: 30px;
  }

  &__input {
    color: vars.$color-text-muted;
    border: none;
    border-bottom: 1px solid vars.$color-text-muted;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: transparent;
    &::placeholder {
      color: vars.$color-text-muted;
    }
  }

  &__btn {
    text-transform: uppercase;
    padding: 13px 244px;
    margin-top: auto;
    background-color: vars.$color-accent;
    border-radius: 3px;
    color: #ffffff;
  }
}

.collections__top {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.collection-main {
  .breadcrumbs {
    padding-top: 50px;
  }
}

.breadcrumbs {
  padding: 30px 0 80px;

  &__list {
    display: flex;
    gap: 14px;
    color: vars.$color-text-muted;
    font-size: 16px;
  }

  &__item {
    position: relative;
  }

  &__item + .breadcrumbs__item::before {
    content: '/';
    position: absolute;
    left: -9px;
  }
}

.collections {
  padding-bottom: 100px;

  &__container {
    position: relative;
  }

  &__decor {
    position: absolute;
    right: 0;
    top: -210px;
    z-index: 5;
  }

  &__title {
    text-align: center;
  }

  &__inner {
    display: grid;
    grid-template-areas:
      'aa ab ba bb'
      'cc cc ca cb'
      'cc cc da db'
      'ea eb ee ee'
      'fa fb ee ee';
    gap: 40px;
  }

  &__item {
    position: relative;
    &:nth-child(1) {
      grid-area: aa;
    }
    &:nth-child(2) {
      grid-area: ab;
    }
    &:nth-child(3) {
      grid-area: ba;
    }
    &:nth-child(4) {
      grid-area: bb;
    }
    &:nth-child(5) {
      grid-area: cc;
      height: fit-content;
    }
    &:nth-child(6) {
      grid-area: ca;
    }
    &:nth-child(7) {
      grid-area: cb;
    }
    &:nth-child(8) {
      grid-area: da;
    }
    &:nth-child(9) {
      grid-area: db;
    }
    &:nth-child(10) {
      grid-area: ea;
      margin-top: -130px;
      height: fit-content;
    }
    &:nth-child(11) {
      grid-area: eb;
      margin-top: -130px;
      height: fit-content;
    }
    &:nth-child(12) {
      grid-area: ee;
      height: fit-content;
    }
    &:nth-child(13) {
      grid-area: fa;
    }
    &:nth-child(14) {
      grid-area: fb;
    }
  }

  &__like {
    position: absolute;
    top: 10px;
    right: 6px;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    @extend %lora-400;
    font-size: 20px;
    color: #ffffff;
    padding: 12px;
    background-color: vars.$color-accent;
  }
}

.pagination {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: vars.$color-primary;
  font-size: 16px;

  &__list {
    display: flex;
    gap: 2px;
  }

  &__link {
    display: inline-block;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link--active {
    color: #ffffff;
    border-radius: 8px;
    background-color: vars.$color-text-muted;
  }

  &__arrow {
    display: inline-block;
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrow-disable {
    display: none;
  }
}

.product {
  padding-bottom: 150px;
  &__inner {
    display: grid;
    grid-template-columns: 2fr 1.1fr;
    padding-right: 40px;
    gap: 40px;
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    picture:nth-child(2) {
      grid-row: span 2;
    }
    picture {
      width: max-content;
    }
  }

  &__content {
    dl {
      margin: 0;
    }

    dd {
      margin-left: 0;
      margin-bottom: 30px;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__price {
    @extend %opensans-700;
    font-size: 25px;
    color: vars.$color-primary;
    margin-bottom: 30px;
  }

  &__content-list {
    font-size: 16px;
    color: vars.$color-primary;
  }

  &__content-term {
    @extend %opensans-700;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  &__content-difinition {
    @extend %opensans-400;
    font-size: 16px;
    color: vars.$color-primary;
    text-transform: uppercase;
  }

  &__content-text {
    color: vars.$color-text-muted;
  }

  &__buttons {
    display: grid;
    gap: 6px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  &__btn {
    border: 1px solid vars.$color-text-muted;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: vars.$color-text-muted;
    border-radius: 3px;
  }

  &__btn-sizegiude svg {
    display: inline-block;
  }

  &__btn-favorites svg {
    display: inline-block;
  }

  &__btn-addtobag {
    grid-column: 1 / -1;

    padding: 12px 138px;
    font-size: 20px;
  }
}
.radio-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 26px;
  &:checked + .radio-style::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: vars.$color-primary;
    top: 2px;
    left: 2px;
  }
}
.radio-style {
  position: absolute;
  margin-left: -26px;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid vars.$color-primary;
  border-radius: 50%;
}
.check-box {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 20px;
  &:checked + .check-style::before {
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 1px;
    position: absolute;
    background-color: vars.$color-primary;
    top: 2px;
    left: 2px;
  }
}
.check-style {
  position: absolute;
  margin-left: -20px;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  border: 1px solid vars.$color-primary;
  border-radius: 1px;
}

.checkbox-lable {
  padding-left: 20px;
}

.radio-lable {
  padding-left: 26px;
}

.accessories {
  padding-bottom: 90px;

  &__inner {
    position: relative;
  }

  &__decor {
    position: absolute;
    right: 68px;
    top: -111px;
  }

  &__title {
    max-width: 890px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 25px;
    font-size: 30px;
    border-bottom: 2px solid #e0e1d7;
    margin-bottom: 40px;
  }

  &__slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__slide {
    text-align: center;
  }

  &__slide-img {
    margin-bottom: 20px;
  }

  &__slide-text {
    margin-bottom: 10px;
  }

  &__slide-price {
    @extend %opensans-700;
    font-size: 20px;
    color: vars.$color-primary;
  }

  &__arrow {
    position: absolute;
    cursor: pointer;
    top: 42%;
    z-index: 10;
    top: 50%;
  }

  &__arrow-prev {
    left: 120px;
  }

  &__arrow-next {
    right: 120px;
  }
}

.page-404 {
  &__container {
    max-width: 1560px;
    padding: 0 10px;
    margin: 0 auto;
  }
  &__inner {
    display: flex;
  }

  &__content {
    @extend %lora-400;
    width: 741px;
    margin: 215px 14px 0 35px;
  }
  &__title {
    @extend %lora-400;
    font-size: 160px;
    margin-bottom: 60px;
  }
  &__link {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 48px;
    span {
      display: inline-block;
      max-width: 620px;
    }
  }
}
.moving {
  opacity: 0.2;
  overflow: hidden;
  &__text {
    text-transform: uppercase;
    @extend %lora-400;
    font-size: 160px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 27px;
    animation-name: moving;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes moving {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.blog {
  &__main {
    margin-bottom: 32px;
  }

  &__inner {
    padding: 40px 0;
    border-top: 1px solid #e0e1d7;
    border-bottom: 1px solid #e0e1d7;
    display: flex;
    gap: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 740px;
  }

  &__link-category {
    display: inline-block;
    font-size: 14px;
    padding: 8px 24px;
    border: 1px solid #e0e1d7;
    margin-bottom: 40px;
    align-self: start;
  }

  &__main-title {
    font-size: 48px;
    margin-bottom: 40px;
    display: block;
    line-height: 1.2;
  }

  &__main-text {
    font-size: 24px;
    color: vars.$color-text-muted;
    margin-bottom: 132px;
    max-width: 660px;
  }

  &__main-link {
    text-transform: uppercase;
    font-size: 24px;
    padding: 32px 64px;
    border: 1px solid vars.$color-accent;
    align-self: start;
  }
}

.blog {
  &__search-form {
    position: relative;
    width: 300px;
  }

  &__search-input {
    border: none;
    border-bottom: 1px solid vars.$color-text-muted;
    padding: 2px 31px 14px 3px;
    width: 100%;
    &::placeholder {
      color: vars.$color-text-muted;
    }
  }

  &__search-btn {
    position: absolute;
    top: 6px;
    right: 3px;
    padding: 0;
  }

  &__nav-btns {
    margin-left: 100px;
    display: flex;
    gap: 20px;
  }

  &__nav-btn-line {
    padding: 0;
  }

  &__list {
    gap: 50px 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__item-img {
    margin-bottom: 20px;
  }

  &__item-category {
    @extend %inter-400;
    display: inline-block;
    font-size: 14px;
    padding: 8px 24px;
    border: 1px solid #e0e1d7;
    margin-bottom: 16px;
  }

  &__item-title {
    font-size: 24px;
    @extend %lora-500;
    margin-bottom: 8px;
  }

  &__item-date {
    font-size: 16px;
    color: vars.$color-text-muted;
  }
}

.blog-nav {
  display: flex;
  gap: 35px;
  align-items: center;
  margin-bottom: 33px;

  &__title {
    margin-right: auto;
    @extend %lora-400;
    font-size: 32px;
  }
}
.select {
  border: none;
  width: 300px;
  border-bottom: 1px solid vars.$color-text-muted;
  color: vars.$color-text-muted;
  padding: 2px 31px 14px 3px;
  appearance: none;

  &__wrapper {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/category-arrow.svg);
      width: 18px;
      height: 19px;
      right: 3px;
      top: 6px;
    }
  }
}

.blog-one {
  margin-top: 50px;
  margin-bottom: 10px;

  &__content {
    b:first-of-type {
      margin-bottom: 60px;
    }

    picture:first-of-type {
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #e0e1d7;
      padding-top: 40px;
      border-top: 1px solid #e0e1d7;
    }

    picture {
      margin-bottom: 50px;
    }
    h1 {
      text-transform: uppercase;
      font-size: 96px;
      @extend %lora-400;
      line-height: 1.2;
    }
    b {
      @extend %lora-400;
      font-size: 32px;
      margin-bottom: 20px;
      max-width: 1220px;
      display: inline-block;
    }

    & > p {
      margin-bottom: 40px;
      max-width: 1220px;
    }

    h3 {
      @extend %lora-500;
      font-size: 40px;
      margin-bottom: 40px;
    }

    li:has(ul) {
      list-style-type: none;
    }

    & > ul {
      margin-bottom: 40px;
      list-style: disc;
      padding-left: 40px;
      ul {
        list-style: disc;
        padding-left: 25px;
      }
    }
  }
  &__stats {
    display: flex;
    padding: 22px 0 40px;
    align-items: center;
  }
  &__category {
    padding: 8px 24px;
    font-size: 14px;
    @extend %inter-400;
    border: 1px solid #e0e1d7;
    margin-right: 40px;
    margin-bottom: 0;
  }
  &__date {
    font-size: 18px;
    @extend %opensans-300;
    opacity: 0.3;
    padding-right: 20px;
    position: relative;
    margin-right: 22px;
    margin-bottom: 0;
    &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 29px;
      top: 0;
      right: 0;
      background-color: #e0e1d7;
      margin-bottom: 0;
    }
  }
  &__stats-list {
    opacity: 0.3;
    display: flex;
    gap: 16px;
    align-items: center;
  }
  &__stats-item {
    display: flex;
    gap: 16px;
  }
  &__stats-link {
    display: flex;
    gap: 4px;
    align-items: center;
  }
}

.reviews {
  &__top {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    align-items: center;
  }
  &__top-title {
    @extend %lora-400;
    font-size: 64px;
  }
  &__top-link {
    font-size: 24px;
    color: vars.$color-text-muted;
    border-bottom: 1px solid vars.$color-accent;
  }

  &__slider-box {
    margin-bottom: 60px;
  }

  &__slider {
    margin-bottom: 24px;
    overflow: hidden;
    width: calc(100vw - (100vw - 1500px) / 2);
  }

  &__slider-addreview {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 24px 40px;
    border: 1px solid vars.$color-accent;
  }

  &__arrow {
    cursor: pointer;
    position: absolute;
    top: 24px;
  }

  &__arrow-prev {
    right: 158px;
  }

  &__arrow-next {
    right: 0;
  }

  &__pagination {
    top: 18px;
    position: absolute;
    right: 55px;
    left: auto;
    width: auto;
    color: #e0e1d7;
    font-size: 18px;
    .swiper-pagination-current {
      color: vars.$color-accent;
      display: inline-block;
      padding-right: 10px;
    }
    span + span {
      padding-left: 10px;
    }
  }

  &__slider-nav {
    display: flex;
    align-items: center;
    position: absolute;
    max-width: 1520px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  &__item {
    padding: 40px 50px;
    border: 1px solid #e0e1d7;
    margin-bottom: 20px;
  }

  &__item-date {
    font-size: 14px;
    color: vars.$color-text-muted;
    margin-bottom: 16px;
  }
  &__item-name {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 24px;
  }

  &__item-name span {
    font-size: 24px;
  }

  &__item-text {
    line-height: 1.3;
    max-width: 1220px;
    margin-bottom: 24px;
  }

  &__item-picture {
    display: flex;
    gap: 10px;
  }
}

.reviews-box {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 24px;

  &__list {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__all {
    font-size: 16px;
    color: vars.$color-text-muted;
    border-bottom: 1px solid vars.$color-accent;
  }
}

.catalog {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }

  &__view-mode {
    display: flex;
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
    @extend %lora-400;
    font-size: 45px;
  }

  &__content {
    display: flex;
    gap: 40px;
    padding-bottom: 100px;
    background-image: url(../images/catalog-decor.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  &__filter {
    width: 270px;
    padding: 20px;
    border: 1px solid #e0e1d7;
    height: 1240px;
  }

  &__filter-btn {
    font-size: 12px;
    text-transform: lowercase;
    color: vars.$color-primary;
    padding: 0;
    text-decoration: underline;
  }

  &__filterbox {
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e1d7;
    margin-bottom: 40px;
  }

  &__filterbox-title {
    @extend %lora-400;
    text-transform: uppercase;
    color: vars.$color-primary;
    margin-bottom: 11px;
    padding-left: 20px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: vars.$color-primary;
      top: 10px;
      left: 0;
    }
  }

  &__filterbox-items {
    column-count: 2;
    column-gap: 40px;
    font-size: 11px;
    color: vars.$color-primary;
    &--line {
      column-count: 1;
    }
  }

  &__content-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 40px;
    color: vars.$color-primary;
  }
  &__content-item {
    text-align: center;
  }

  &__item-title {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  &__item-price {
    @extend %opensans-700;
    font-size: 20px;
  }

  .checkbox-lable {
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .check-style {
    margin-top: -1px;
  }
  .radio-lable {
    display: block;
    margin-bottom: 15px;
  }
  .radio-style {
    margin-top: -1px;
  }
}

.view-mode {
  display: flex;
  align-items: center;
  &__text {
    margin-right: 30px;
    font-size: 11px;
    color: vars.$color-text-muted;
  }

  &__list {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 5px;
  }

  &__btn {
    padding: 0;
  }

  &__container--grid {
    display: grid;
  }

  &__container--line {
    display: block;
    .blog__item {
      display: flex;
      margin-bottom: 20px;
    }
    .blog__item-content {
      padding-left: 20px;
    }
    .blog__item-img {
      width: 380px;
    }
    .catalog__content-item {
      display: flex;
      img {
        width: 180px;
        margin-bottom: 20px;
      }
      .catalog__item-title {
        margin: 0 50px 0 20px;
      }
    }
  }
}

.catalog-sort {
  &__wrapper {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-image: url(../images/catalog-sort-arrow.svg);
      width: 14px;
      height: 9px;
      right: 9px;
      top: 12px;
    }
  }
  &__select {
    font-size: 11px;
    color: vars.$color-text-muted;
    border: 1px solid #e0e1d7;
    border-radius: 3px;
    padding: 5px 51px 5px 9px;
    appearance: none;
  }
}

.range {
  width: 218px;

  &__inputs {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 35px;
  }
  &__label {
    position: relative;
    input {
      width: 94px;
      border: 1px solid vars.$color-text-muted;
      padding: 10px 10px 10px 40px;
      background-color: transparent;
      display: inline-block;
      font-size: 11px;
      color: vars.$color-primary;
      @extend %opensans-400;
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }
    &::before {
      content: '€';
      position: absolute;
      top: 11px;
      left: 6px;
      font-size: 11px;
    }
  }

  &__list {
    display: flex;
    font-size: 11px;
    gap: 12px;
    align-items: center;
    margin-bottom: 21px;
  }

  &__item {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 6px;
      background-color: vars.$color-primary;
      top: -19px;
      left: 14px;
      z-index: -1;
    }
  }

  &__item:first-child {
    margin-right: 5px;
  }

  .noUi-target {
    box-shadow: none;
    border: none;
    border-radius: 0;
    background: vars.$color-text-muted;
  }

  .noUi-horizontal {
    height: 2px;
    margin-bottom: 15px;
  }

  .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    right: -1px;
    top: -9px;
  }

  .noUi-horizontal .noUi-handle-lower {
    right: -19px;
  }

  .noUi-handle {
    border: 1px solid vars.$color-text-muted;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: none;
  }

  .noUi-handle:before,
  .noUi-handle:after {
    content: none;
  }
}

.checkout {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }

  &__title {
    font-size: 64px;
    text-transform: none;
    align-items: center;
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    gap: 80px;
  }

  &__info {
    width: 100%;
  }

  &__info-item + &__info-item {
    margin-top: 80px;
  }

  &__info-title {
    @extend %lora-400;
    font-size: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e1d7;
    margin-bottom: 32px;
  }

  &__infobox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    grid-row: 2, 1fr;
  }

  &__infobox-lable {
    display: block;
  }

  &__infobox-input {
    display: block;
    width: 100%;
    margin-top: 12px;
    border: 1px solid #e0e1d7;
    font-size: 20px;
    padding: 26px 32px;
    &::placeholder {
      opacity: 0.4;
    }
  }

  &__infobox-wrapp {
    position: relative;
    &::before {
      content: '';
      position: absolute;
    }
  }

  &__infobox--marker {
    &::before {
      background-image: url(../images/marker.svg);
      background-repeat: no-repeat;
      width: 18px;
      height: 20px;
      opacity: 0.4;
      top: 70px;
      right: 20px;
    }
  }

  &__infobox--arrow {
    &::before {
      background-image: url(../images/arrow-select.svg);
      background-repeat: no-repeat;
      width: 20px;
      height: 12px;
      opacity: 0.4;
      top: 70px;
      right: 20px;
    }
  }

  &__infobox-select {
    display: block;
    width: 100%;
    margin-top: 12px;
    border: 1px solid #e0e1d7;
    font-size: 20px;
    padding: 26px 32px;
    appearance: none;
    color: rgba($color: #000000, $alpha: 0.2);
  }

  &__info-radio {
    padding: 26px 0;
    border-bottom: 1px solid #e0e1d7;
    @extend %inter-400;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title {
  }
  .radio-lable:has(.radio-box:checked) + &__info-delprice {
    opacity: 1;
  }
  .radio-box:checked + .radio-style + .radio-name {
    opacity: 1;
  }
  .radio-style {
    margin-top: 7px;
  }
  .radio-name {
    font-size: 24px;
    opacity: 0.4;
  }
  .radio-text {
    display: block;
    margin-top: 8px;
    opacity: 0.4;
    font-size: 14px;
    
  }

  &__info-delprice {
    opacity: 0.4;
    font-size: 24px;
  }

  &__infobox-pay {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__infobox-paycard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  &__info-text {
    margin: 32px 0;
    font-size: 16px;
    opacity: 0.4;
    max-width: 560px;
  }
  &__info-btn {
    display: block;
    text-transform: uppercase;
    padding: 29px 330px;
    background-color: vars.$color-accent;
    color: #fff;
    text-align: center;
    margin-bottom: 48px;
  }

  &__details {
    min-width: 616px;
  }

  &__details-title {
    @extend %lora-400;
    font-size: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e1d7;
    margin-bottom: 32px;
  }

  &__details-items {
    margin-bottom: 123px;
  }

  &__details-itemsline {
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    background-color: vars.$bg-primary;

  }

  &__details-quantity {
  }
  &__details-del {
  }
  &__item {
    padding: 30px 0;
    margin: 0 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e1d7;
    display: flex;
    gap: 20px;
  }
  &__item-img {
   min-width: 140px;
  }
 
  &__item-box {
    position: relative;
    width: 100%;
  }
  &__item-title {
    @extend %lora-400;
    font-size: 20px;
    margin-bottom: 40px;
  }
  &__item-list {
    font-size: 16px;
  }
  &__item-listbox {
    display: flex;
    margin-bottom: 10px;
    &:last-child {
      margin-top: 40px;
      @extend %opensans-700;
      display: flex;
      justify-content: space-between;
    }
  }
  &__item-term {
    @extend %opensans-700;
  }
  &__item-difinition {
    margin-left: 10px;
  }
  &__item-del {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.order {
  padding: 60px 40px;
  border: 1px solid #e0e1d7;

  &__title {
    @extend %lora-400;
    font-size: 32px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e1d7;
    margin-bottom: 32px;
  }

  &__list {
    margin-bottom: 80px;
  }

  &__list-box {
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
    font-size: 24px;
    margin-bottom: 20px;
    &:last-child {
      font-size: 32px;
      opacity: 1;
      margin-top: 32px;
    }
  }

  &__link {
    @extend %inter-400;
    font-size: 20px;
    padding: 30px 190px;
    border: 1px solid vars.$color-accent;
    text-transform: uppercase;
    display: block;
  }
}
