<section class="our-advantages">
    <div class="container">
			<div class="our-advantages__wrapper">
				<picture>
					<source srcset="images/advantages.avif" type="image/avif">
					<source srcset="images/advantages.webp" type="image/webp">
					<img class="our-advantages__img" src="images/advantages.jpg" width="378" height="460" loading="lazy" alt="Alt text">
				</picture>
        <div class="our-advantages__inner">
					<img class="our-advantages__decor" src="images/advantages-decor.svg" alt="Alt text" >
            <h2 class="title our-advantages__title" >
							OUR ADVANTAGES
            </h2>
            <ul class="our-advantages__list">
                <li class="our-advantages__item">
									The latest collections
								</li>
                <li class="our-advantages__item">
									15 years of experience
								</li>
                <li class="our-advantages__item">
									Quality guarantee
								</li>
                <li class="our-advantages__item">
									International brands
								</li>
                <li class="our-advantages__item">
									Individual tailoring
								</li>
                <li class="our-advantages__item">
									Free shipping
								</li>
            </ul>
        </div>
			</div>
    </div>
</section>