    <footer class="footer">
      <div class="container">
        <nav class="footer__menu">
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Catalog</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Collections</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">About</a>
            </li>
            <li class="footer__menu-item">
              <a class="logo" href="#">
                <img class="logo__img" src="images/logo.svg" alt="logo">
              </a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Book your appointment</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <div class="footer__elements">
          <div class="footer__element">
            <p class="footer__elements-title">Phones</p>
            <ul class="footer__elements-list">
              <li class="footer__elements-item">
                <a class="footer__elements-link" href="tel:380978367320">+380 (97) 836 73 20</a>
              </li>
              <li class="footer__elements-item">
                <a class="footer__elements-link" href="tel:380999846862">+380 (99) 984 68 62</a>
              </li>
            </ul>
          </div>
          <div class="footer__element">
            <p class="footer__elements-title">Emails</p>
            <ul class="footer__elements-list">
              <li class="footer__elements-item">
                <a class="footer__elements-link" href="mailto:office@luxuriousbridalhaven.com">office@luxuriousbridalhaven.com</a>
              </li>
              <li class="footer__elements-item">
                <a class="footer__elements-link" href="mailto:sales@luxuriousbridalhaven.com">sales@luxuriousbridalhaven.com</a>
              </li>
            </ul>
          </div>
          <div class="footer__element">
            <p class="footer__elements-title">Location</p>
            <address class="footer__adress">
              Ukraine, Kyiv,<br>
              st. Arsenalna, 5
            </address>
          </div>
          <div class="footer__element">
            <p class="footer__elements-title">Social</p>
            <ul class="footer__social-list">
              <li class="footer__social-item">
                <a class="footer__social-link" href="#" aria-label="facebook" target="_blank" rel="noopener noreferrer">
                  <svg width="26" height="26">
                    <use xlink:href="images/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="footer__social-item">
                <a class="footer__social-link" href="#" aria-label="instagram" target="_blank" rel="noopener noreferrer">
                  <svg width="26" height="26">
                    <use xlink:href="images/sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__element">
            <p class="footer__elements-title">Sign-up for our newsletter</p>
            <form class="footer__form" action="">
              <input class="footer__form-input" type="text" placeholder="Enter your email">
              <button class="footer__form-btn" type="submit">
                <svg width="15" height="11">
                  <use xlink:href="images/sprite.svg#envelop"></use>
                </svg>
              </button>
            </form>
          </div>

        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="footer__bottom-inner">
            <p class="footer__copy">© Luxurious Bridal Haven. All rights reserved.</p>
            <ul class="footer__bottom-list">
              <li class="footer__bottom-item">
                <a class="footer__bottom-link" href="#" aria-label="Privacy Policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
              </li>
              <li class="footer__bottom-item">
                <a class="footer__bottom-link" href="#" aria-label="Refund policy" target="_blank" rel="noopener noreferrer">Refund policy</a>
              </li>
              <li class="footer__bottom-item">
                <a class="footer__bottom-link" href="#" aria-label="Terms of Service" target="_blank" rel="noopener noreferrer">Terms of Service</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
</div>

<script src="js/main.min.js"></script>
</body>

</html>