     <section class="new-collection">
        <div class="container">
          <div class="new-collection__inner">
              <div class="new-collection__content">
                <h2 class="title new-collection__title">new collection</h2>
                <div class="new-collection__descr">
                  <p class="new-collection__text">
                    Discover our new collection of wedding dresses that impresses with its beauty   and     elegance. 
                  </p>
                  <p class="new-collection__text">
                    Each dress in this collection is crafted with love for detail and expertly  executed    to the highest standards of quality. 
                  </p>
                  <p class="new-collection__text new-collection__text--mobile">
                    Regardless of your style and preferences, in our collection, you will find the  dress   of your dreams – from classic silhouettes to modern and original designs. 
                  </p>
                </div>
               <a class="btn new-collection__link" href="#">View the  collection</a>
              </div>
              <picture class="new-collection__img">
                <source srcset="images/new-collection-1.avif" type="image/avif">
                <source srcset="images/new-collection-1.webp" type="image/webp">
                <img src="images/new-collection-1.jpg"  loading="lazy" alt="white dress">
              </picture>
              <div class="new-collection__box">
                <picture class="new-collection__box-img">
                  <source srcset="images/new-collection-2.avif" type="image/avif">
                  <source srcset="images/new-collection-2.webp" type="image/webp">
                  <img src="images/new-collection-2.jpg" width="404" height="450" loading="lazy" alt="white dress">
                </picture>
                <p class="new-collection__caption">
                  Allow yourself to be enchanted by our wedding dresses and create a unique look for your most important day.
                </p>
            </div>
          </div>
        </div>
      </section>